.nav {
  position: absolute;
  font-size: 19px;

  .active {
    color: #B08F66;
  }
}

.nav-content {
  border-bottom: 3px #32aaff solid;
  height: 65px;
  z-index: 101;
  background: #ffffff;
  position: fixed;
}

.nav-link {
  font-size: 17px;
  line-height: 42px;
  padding: 10px 20px;
  margin: 0 5px;

  &:hover {
    background: #f2f2f2 !important;
    color: #000000;
  }
}

.pt-nav {
  padding-top: 65px;
}

@media (max-width: 1200px) {
  .nav-content {
    position: initial;
    height: max-content;
  }

  .pt-nav {
    padding-top: 0 !important;
  }

  .nav {
    position: initial;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  .nav-link {
    font-size: 15px;
    line-height: 24px;
    padding: 10px 10px;
    margin: 0 5px;

    &:hover {
      background: #f2f2f2;
      color: #000000;
    }
  }
}
