{% extends 'base/base.html.twig' %}

{% block body %}
    <div class="container-fluid container-fluid-bg">
        {% include 'base/component/information.html.twig' %}
        {% include 'base/component/whatsup.html.twig' %}
        {% include 'base/component/story.html.twig' %}
        {% include 'base/component/administration.html.twig' %}
    </div>
{% endblock %}