{% extends 'colored/base.html.twig' %}

{% block body %}
    <div class="container-fluid container-fluid-bg">
        {% include 'colored/component/information.html.twig' %}
        {% include 'colored/component/whatsup.html.twig' %}
        {% include 'colored/component/story.html.twig' %}
        {% include 'colored/component/administration.html.twig' %}
    </div>
{% endblock %}