{% extends "base/page/user.html.twig" %}

{% block content %}
    <div class="col-6">
        <div class="form-group">
            <label class="w-75" for="username">{% trans %}Username{% endtrans %}</label>
            <input id="username" type="text" class="form-control" value="{{ app.user.username }}" disabled/>
        </div>
        <div class="form-group">
            <label class="w-75" for="email">Email</label>
            <input id="email" type="text" class="form-control" value="{{ app.user.email }}" disabled/>
        </div>
        <div class="form-group">
            <label class="w-75">
                {% if is_granted('ROLE_ADMIN') %}
                    <span class="text-danger">ADMINISTRATOR</span>
                {% else %}
                    <span class="text-success">GRACZ</span>
                {% endif %}
            </label>
        </div>
    </div>
    <div class="user-avatar col-6">
        <img id="avatar" class="bg-white" alt="{{ app.user.username }}"
             src="https://cravatar.eu/armor/body/{{ app.user.username }}/500.png">
    </div>
{% endblock %}
