{% extends 'new/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row pb-2">
            {{ include('new/component/article.html.twig') }}
        </div>
        {% set path = 'show-article-list' %}
        {{ include('new/component/pagination.html.twig') }}
    </div>
{% endblock %}