/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/public/launcher
/var/
/vendor/
/.idea/
/bin/
/config/routes/dev/
.env
symfony.lock
composer.lock
composer.phar
!/bin/console
/config/secrets/prod/prod.decrypt.private.php
node_modules
public/build
public/build/entrypoints.json
public/build/manifest.json
npm-debug.log
yarn-error.log
mysql
