@import "~bootstrap";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  background: #242424;
  margin: 0;
  padding: 0;

  font-family: Montserrat, serif;
  font-style: normal;
  font-weight: bold;
  color: white;
}

a {
  color: white !important;
}

footer {
  font-weight: normal;
  height: 415px;
  background: #0D0D0D url("/assets/images/footer_map.png") no-repeat;

  .information {
    img {
      height: 50%;
      width: auto;
    }
  }
}

.container-fluid-bg {
  background-image: url("/assets/images/main.png");
  background-repeat: no-repeat;
  background-size: 100vw;
}

.container-fluid {
  padding-top: 186px;
  width: 100%;
  min-height: 100vh;
}

.navbar-content {
  position: absolute;
  padding: 25px;
  width: 100%;
  z-index: 999;
  background: url("/assets/images/main.png") no-repeat;
  background-size: 100vw;
}

.colored {
  color: #00FF76;
}

.white-shadow {
  text-shadow: 0 0 5px #FFFFFF;
}

.offline {
  color: #CD4646;
  text-shadow: 0 0 5px #CD4646;
}

.think {
  background: url('/assets/images/thinking_guy.png') no-repeat center;
  background-size: 353px 478px;
  height: 478px;
}

.cool {
  background: url('/assets/images/cool_guy.png') no-repeat center;
  background-size: 584px 549px;
  height: 549px;
}

.information {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    padding: 0 15px;
    width: 70%;
    max-width: 444px;
  }
}

.gs-card {

  .gs-body {
    height: 410px;
    border-radius: 15px;
    background: #0D0D0D;
    box-shadow: 0 0 23px 15px rgba(0, 0, 0, 0.5);

    img {
      height: 70%;
    }
  }
}

.whats-up {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.lightning {
  background: url("/assets/images/lightning.png") no-repeat;
  background-size: 100vw 100%;
}

.social-wrapper {
  font-size: 80%;
  font-weight: 400;
  display: flex;
  width: 100%;
  align-items: center;
}

.youtube-content {
  border-style: none;
  width: 40vw;
  min-width: 315px;
  max-width: 670px;
  height: 100vh;
  min-height: 250px;
  max-height: 385px;
  box-shadow: 0 0 19px 23px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
}

.navbar-content {
  span.offline, span.colored {
    display: block;
    padding: 0.5rem;
    margin-right: 3rem;
  }
}

.social {
  display: inline-block;
  width: 60px;
  height: 61px;

  &--facebook {
    background: url("/assets/images/social.svg") 5px -1px;
    background-size: cover;
  }

  &--youtube {
    background: url("/assets/images/social.svg") -57px -1px;
    background-size: cover;
  }

  &--instagram {
    background: url("/assets/images/social.svg") -117px -1px;
    background-size: cover;
  }

  &--discord {
    background: url("/assets/images/social.svg") -177px -1px;
    background-size: cover;
  }

  &--tiktok {
    background: url("/assets/images/social.svg") -237px -1px;
    background-size: cover;
  }

  &--teamspeak {
    background: url("/assets/images/social.svg") -297px -1px;
    background-size: cover;
  }
}

@media (max-width: 1920px) {
  .container-fluid-bg, .navbar-content {
    background-size: 1920px auto;
  }
}

@media (min-width: 990px) {
  .container-fluid {
    padding-top: 106px;
  }
  .information .lightning {
    margin-top: -106px;
  }
}

@media (max-width: 991px) {
  footer {
    .information {
      img {
        display: none;
      }
    }
  }

  .navbar-content {
    background-color: #0D0D0D;

    ul {
      display: block;

      .nav-item {
        display: inline-block;
        padding: 0 5px;
      }
    }
  }
}

.bg-dark {
  background: #0D0D0D !important;
}

.bg-medium {
  background: #242424 !important;
}

.bg-light {
  background: #474747 !important;
}

.progress {
  background-color: #474747;

  .bg-progress {
    background: linear-gradient(90deg, #00FF76 0%, #214A34 100%);
  }
}

.gs-submit {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #474747 0%, #313131 100%);
  box-shadow: -8px 12px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
  padding: 15px 50px;
}

.form-group {
  .form-control {
    background: #474747;
    border: none;
    border-radius: 0;
    color: white;
    padding: 15px;
    height: 50px;

    &:focus {
      background: #474747;
      color: #ffffff;
    }
  }

  textarea {
    min-height: 120px;
  }
}

i.fa-envelope {
  font-size: 25px;
}

.link {
  font-size: 10pt;
}

.page-link {
  background: #474747 !important;
  border: none;
}

.active {
  .page-link {
    background: #0D0D0D !important;
  }
}

.is-item {
  background: linear-gradient(#00FF76 0%, #214A34 100%);
  width: 340px;
  min-height: 400px;
  text-align: justify;
  border-radius: 20px;
  padding: 10px;
  display: inline-block;
  margin: 40px;

  &-sm {

    .is-item-content {
      cursor: initial;
      background-color: #0D0D0D !important;
      height: 280px !important;
    }
  }

  .is-link:hover {
    text-decoration: none;
  }

  .is-item-content {
    height: 420px;
    width: 320px;
    background-color: #242424;
    border-radius: 10px;
    padding: 20px;
    transition: background-color 1s;

    &:hover {
      background-color: #0D0D0D;
      transition: background-color 1s;
      cursor: pointer;
    }

    .is-item-desc {
      margin-top: 20px;
      font-size: 10pt;

      pre {
        color: #d01111;
      }

      ul {
        padding: 0;
      }
    }
  }
}

.is-info-container {
  padding-top: 40px;
}

.is-info {
  background: #0D0D0D;
  box-shadow: 0 0 23px 15px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 100%;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;

  &-head {
    width: 80px;
    height: 80px;
    margin: 15px;
  }
}

.alert {
  width: 100%;
}

.gs-voucher {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  float: right;
  padding: 25px;
  margin-right: 15px;
  height: 50px;

  background: #00FF76;
  box-shadow: -8px 12px 16px rgba(0, 255, 118, 0.2);
  border-radius: 5px;
  border: none;

  i {
    font-size: 24pt;
  }
}

.gs-accept {
  font-weight: bold;
  background: linear-gradient(180deg, #00FF76 0%, #214A34 100%);
  box-shadow: -8px 12px 16px rgba(0, 255, 118, 0.2);
  border-radius: 5px;
  padding: 20px 25px;
  color: white;
  border: none;
}

.modal-content {
  box-shadow: 0 0 21px 26px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 20px 25px;
}

.voucher-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.login-container {
  display: flex;
  align-items: center;
  text-align: left;

  form {
    width: 100%;
  }
}

.story {
  font-size: 24pt;
}