<div class="information vh-100 lightning row">
    <img class="col-lg-6 col-md-12" src="{{ asset('/assets/images/logotype.png') }}" alt="Logotype">
    <div class="text-center col-lg-6 col-md-12">
        <h1>{{ global.title }}</h1>
        <h2 class="base">{{ global.subtitle }}</h2>

        {% include 'base/component/social.html.twig' %}
    </div>
</div>