<div class="whats-up row p-lg-5 p-md-0">
    <div class="col-lg-4 col-md-12 mb-4 mt-5 row justify-content-center">
        <img src="{{ asset('/assets/images/thinking_guy.png') }}" class="cool">
    </div>
    <div class="col-lg-8 col-md-12 text-center mb-4 pr-5">
        <h1>Obejrzyj zwiastun najnowszego sezonu</h1>
        <h2 class="base">Sprawdź co dla ciebie przygotowaliśmy</h2>
        <iframe class="youtube-content m-lg-5 m-md-0" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" allowfullscreen></iframe>
    </div>
</div>