@import "variables";

.card-header {
  background: $bleach-bg !important;
  text-shadow: $shadow;
  color: $custom-text;
}

.card-body {
  position: relative;

  .author {
    position: absolute;
    right: 1.25rem;
    bottom: 1.25rem;

    .avatar {
      height: 25px;
      border-radius: 25px;
    }
  }
}

