{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Panel administracyjny!' %}

{% block page_content %}
    <h4>Witamy w panelu administracyjnym Gamesites.pl by Adexion</h4>
    <h5>Poniżej znajdują się informacje o najowszych zmainach wprowadzonych na stronie</h5>
    <hr/>

    <h6 class="font-weight-bold">v1.0.0 - beta </h6>
    <span>
        Wprowadzono możliwość modułowości strony. Obecnie wszystkie moduły są dostępne w pakiecie podstawowym<br/>
        Dostęp do IS następuje jedynie za pomocą RCONa<br/>
        Plugin WS jest dostępny jedynie w dodatkowym pakiecie<br/>
        Panel administarcyjny nie pozwala jeszcze na konfigurowanie wlasnych form platnosci. prosimy o kontakt z administratorem serwera w celu ich dodania
        <br/>
        Panel administracyjny nie pozwala jeszcze na zmianę stałych systemowych.<br/>
    </span><br/>

    <h6 class="font-weight-bold">v1.1.0 - beta </h6>
    <span>
        Wprowadzenie poprawek bezpieczeństwa<br/>
        System mailingowy strony.<br/>
    </span><br/>

    <h6 class="font-weight-bold">v1.2.0 - beta </h6>
    <span>
        Przebudowa panelu pod konfiguracje i zarządzenie serwerami (obecnie front obsługuje tylko 1, panel 2)<br/>
        Możliwość zarządzania obrazami na stronie<br/>
    </span><br/>

    <h6 class="font-weight-bold">v1.2.1 - beta </h6>
    <span>
        Naprawiono rejstrację konta. Nowo utworzone konta rejestrowały się bez haseł<br/>
        Naprawiono strony resetu hasła, przed i po otrzymaniu wiadomości email<br/>
    </span><br/>

    <h6 class="font-weight-bold">v1.3.0 - beta </h6>
    <span>
        Dodano możliwość pełnej konfiguracji strony, oraz jej treści. Nie zmienna zostaje kolorystyka strony oraz rendery na stronie głównej.
    </span><br/>


    <h6 class="font-weight-bold">v1.3.1 - beta </h6>
    <span>
        Naprawa systemu edycji treśi w konfiguracji
    </span><br/>

{% endblock %}
