{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Statystyki sprzedaży' %}

{% block page_content %}

    <div class="statistics" data-statistics="{{ statistics }}"></div>

    <canvas id="buyers" width="4" height="1"></canvas>
    <canvas id="userBought" width="4" height="1"></canvas>
    <canvas id="dateTime" width="4" height="1"></canvas>

    {{ encore_entry_link_tags('shopStatistic') }}
    {{ encore_entry_script_tags('shopStatistic') }}

{% endblock %}
