<div class="d-inline-block pt-3">
    {% if global.facebook is defined %} <span class="social social--facebook"></span> {% endif %}
    {% if global.youtube is defined %} <span class="social social--youtube"></span> {% endif %}
    {% if global.instagram is defined %} <span class="social social--instagram"></span>{% endif %}
    {% if global.discord is defined %} <span class="social social--discord"></span>{% endif %}
    {% if global.tiktok is defined %} <span class="social social--tiktok"></span>{% endif %}
    {% if global.teamspeak is defined %} <span class="social social--teamspeak"></span>{% endif %}
</div>