<div class="whats-up row bg-dark mt-4 mb-4">
    <div class="col-md-12 col-lg-7 text-center mt-4">
        <h1>Kilka słów o naszej historii</h1>
        <h2 class="colored">Kiedy to wszystko się zaczęło?</h2>
        <div class="p-lg-5 p-md-0 story">
            {{ global.story | raw }}
        </div>
    </div>
    <div class="col-md-12 col-lg-5 mb-4 row justify-content-center">
        <img src="{{ asset('assets/images/cool_guy.png') }}" class="cool">
    </div>
</div>