<div class="whats-up row">
    <div class="col-lg-5 col-md-12 think mb-4"></div>
    <div class="col-lg-7 col-md-12 text-center mb-4">
        <h1>Obejrzyj zwiastun najnowszego sezonu</h1>
        <h2 class="colored">Sprawdź co dla ciebie przygotowaliśmy</h2>
        <iframe class="youtube-content" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" allowfullscreen></iframe>
    </div>
</div>