<div class="whats-up row p-5">
    <div class="col-lg-4 col-md-12 think mb-4"></div>
    <div class="col-lg-8 col-md-12 text-center mb-4 pr-5">
        <h1>Obejrzyj zwiastun najnowszego sezonu</h1>
        <h2 class="colored">Sprawdź co dla ciebie przygotowaliśmy</h2>
        <iframe class="youtube-content m-5" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" allowfullscreen></iframe>
    </div>
</div>