{% extends 'colored/base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        {% include 'colored/component/information.html.twig' %}
        {% include 'colored/component/whatsup.html.twig' %}
    </div>
{% endblock %}