.container {
  width: 75%;
  margin: auto;
}

.text-small {
  font-size: small;
}

.article-image {
  width: 100%;
}

#article-list > div {
  padding-bottom: 50px;
}

.progress {
  margin-top: 15px;
  height: 40px;
}

.main-context {
  padding: 20px 0;
}

.card-skin {
  width: 50%;
  margin: 10px auto;
}

.list-style-none {
  list-style: none;
}

@media (min-width: 768px) {
  .article-image {
    display: block;
    width: 90%;
    float: right;
  }
}
