.container {
  width: 75%;
  margin: auto;
  height: 100vh;
}

.text-small {
  font-size: small;
}

.article-image {
  width: 100%;
}

#article-list > div {
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .article-image {
    display: block;
    width: 90%;
    float: right;
  }
}
