body {
  overflow-x: hidden;
}

.item-list {
  width: calc(50% - 30px);
  border: 1px solid rgba(0, 0, 0, .1);
  position: relative;
  margin: 15px;

  .btn-price-palace {
    width: calc(100% - 15px);
    position: absolute;
    bottom: 3px;
  }

  .item-list-content {
    margin-bottom: 50px;
  }
}

div.paypal-button-row:nth-child(2) {
  max-width: 30%;
  max-height: 15px;
  display: inline-block;
}

.wallet-container {
  width: 100%;
  margin: 15px 0;
}

pre {
  padding: 10px;
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

strong {
  font-weight: bold !important;
}

.item-list-image {
  margin: auto;
  display: block;
  max-height: 200px;
  max-width: 100%;
}

#two-site-width {
  width: 200vw;
}
