@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import "~bootstrap";
@import "cutomButtons";

html {
  scroll-behavior: smooth;
}

body {
  color: #333333;
  font-family: sans-serif;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

a {
  color: #333333;
}

.rules {
  .nav-link {
    color: #fff;
  }
}

.bg-image {
  background: url("/assets/images/main.jpg") no-repeat;
  background-size: cover;
  height: calc(100vh - 65px);
  color: #ffffff;
}

.bg-blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.avatar {
  border-radius: 50px;
  width: 25px;
}

.bg-grey {
  background: #e6ebf1;
}

.title {
  color: #000000;
  text-shadow: 1px 1px #ffffff;

  &--big {
    font-size: 6vw;
    letter-spacing: 20px;
  }

  &--mid {
    font-size: 2vw;
    letter-spacing: 10px;
  }

  &--small {
    letter-spacing: 5px;
    font-weight: bold;
  }
}

.arrow {
  font-size: 55px;
}

.btn-dark {
  background-color: #141619;
  border-color: #141619;
}

.top-space-100 {
  padding-top: 100px;
}

.bottom {
  bottom: 25px;
  margin: auto;
}

.bottom-15 {
  bottom: 15px;
  margin: auto;
}

.right {
  right: 25px;
  margin: auto;
}

.right-0 {
  right: 0;
  margin: auto;
}

.left {
  left: 25px !important;
}

.top {
  top: 25px;
}

.h-4 {
  height: 4%;
}

.text-small {
  font-size: small;
}

.text-xx-large {
  font-size: xx-large;
}

.box-shadow {
  -webkit-box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.5);
  box-shadow: 3px 3px 5px 0 rgba(0,0,0,0.5);
}

.media-container {
  background: #ffffff;
  border: #929292 1px solid;
  border-radius: 5px;
  right: 50px;
  top: 45%;
  position: fixed;
  justify-content: center;
  padding: 0.5em;
  z-index: 2;
}

.bounce {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0% {
    transform: scale(1.1, .9) translateY(0);
  }
  30% {
    transform: scale(.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

.slider-container {
  height: 500px;
  width: 100%;
}

.slider-container > div {
  margin: auto;
  height: 100%;
}

.mod-list {
  display: flex;
  flex-direction: column;
  max-height: 1000px;
  margin: 15px;
  flex-wrap: wrap;

  span {
    width: 50%;
  }
}

.copyright {
  padding: 7px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.card {
  background-color: initial !important;
}

.bg-darker {
  background-color: #2e353c;
}

.bg-black {
  background: #000000;
}

.server-choosing {
  min-width: 720px;
  width: 33%;
  margin: auto;
  height: 25vh;
  text-align: center;
  font-size: 50pt;
  display: block;
  border: 1px solid rgba(0,0,0,.1);
  min-height: 300px;
  line-height: 300px;
}

.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .7);
}

.move-up {
  margin-top: -20px;
  padding-bottom: 30px;
}

.flex-preset {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.server {
  filter: opacity(50%);
  transition: filter .5s ease;
  display: block;
  width: 100%;
  height: 100vh;

  &:hover {
    filter: opacity(100%);
    transition: filter .5s ease;
  }
}

.server-header {
  z-index: 1;
  padding: 3rem;
  position: absolute;
  width: 100%;
}

@media (max-width: 1366px) {
  .server-header {
    position: initial;
    padding: 2rem;
  }

  .flex-dir {
    flex-direction: column;
  }

  .server {
    width: 100vw;
    height: auto;
  }
}