.menu {
  border-right: 1px solid #d5d5d5;

  ul {
    list-style: none;
    padding: 0;

    li {
      line-height: 30px;

      .nav-link {
        line-height: 25px;
      }
    }
  }
}

.content {
  padding-left: 15px;
}

.user-data {
  margin: 15px;
  padding: 15px 0;
  border: 1px solid #d5d5d5;
  height: 415px;

  h5 {
    line-height: 35px;
  }
}

.user-avatar {
  height: 100%;
  justify-content: center;
  display: flex;

  img#avatar {
    height: 100%;
    padding: 10px;
    margin: auto;
    border: 1px solid #b5b5b5;
  }
}

@media (max-width: 991px) {
  .menu {
    border: 0;
    border-bottom: 1px solid #d5d5d5;

    ul > li {
      line-height: 15px;
    }
  }
}
