.menu {
  border-right: 1px solid #d5d5d5;

  ul {
    list-style: none;
    padding: 0;

    li {
      line-height: 30px;

      .nav-link {
        line-height: 25px;
      }
    }
  }
}

.content {
  padding-left: 15px;
}

.user-data {
  margin: 15px;
  padding: 15px;
  border: 1px solid #d5d5d5;

  h5 {
    line-height: 35px;
  }
}

.user-avatar {
  height: 100%;
  justify-content: center;
  display: flex;

  img#avatar {
    padding: 10px;
    margin: auto;
    border: 1px solid #b5b5b5;
    max-width: 100%;
  }
}

.user-equipment {
  padding: 0 15px;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 100%;

  div {
    margin: 5px 0;

    .user-item {
      float: left;
      display: inline-block;
      position: relative;
      background: #c7c7c7;
      border-top: 2px solid #343434;
      border-left: 2px solid #343434;
      border-bottom: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
      height: 75px;
      width: 75px;

      .item-image {
        height: 71px;
        width: 71px;
      }

      .quantity {
        position: absolute;
        bottom: 0;
        right: 0;
        font-weight: bold;
        color: #ffffff;
        text-shadow: 2px 2px 2px #343434;
      }
    }

    .item-information {
      position: relative;
      display: inline-block;
      background: #2b1c2f;
      border: 5px solid #2b1248;
      border-radius: 5px;
      color: #44e846;
      height: 75px;
      padding-left: 7px;
      margin-left: 7px;
      width: calc(100% - 82px);

      .btn {
        position: absolute;
        bottom: 7px;
        right: 7px;
      }
    }
  }
}

@media (max-width: 991px) {
  .menu {
    border: 0;
    border-bottom: 1px solid #d5d5d5;

    ul > li {
      line-height: 15px;
    }
  }
}
