<div class="container mt-5">
    <div class="row">
        <div id="article-list" class="col-md-7 pb-3"></div>

        <div class="col-md-5">
            <img class="border article-image" src="{{ asset('assets/images/image.png') }}" alt="image frame">
        </div>
    </div>

    <div class="progress mt-5 h-4">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success title--small"
             role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
            Zabezpieczanie serwera!
        </div>
    </div>
</div>
