<div class="bg-image d-flex align-items-center flex-column position-relative top-space-100">
    {% for s in server %}
        {% if s.id == app.session.get('serverId') %}
            <h1 class="font-weight-bold title--big text-shadow text-light">{{ s.name }}</h1>
        {% endif %}
    {% endfor %}
    <a href="{% if is_granted('IS_AUTHENTICATED_FULLY') %}{{ path('user-profile') }}{% else %}{{ path('register') }}{% endif %}" class="btn btn-dark">{% trans %}Get started{% endtrans %}</a>
    <a href="#article-list" class="position-absolute bottom arrow text-white" rel="go to bottom">
        <i class="fas fa-chevron-down fa-animation-bottom bounce"></i>
    </a>
</div>
