<div class="mt-5 text-center">
    <h1 class="text-info">Coś o nas?</h1>
    <h2 class="h4">Jesteśmy jedyną siecią na modach w Polsce, która stara się na bierząco rozwiązywać problmy swoich graczy!</h2>
    <ol>
        <li>Nie zostajemy obojętni na wasze prośby. Staramy się pomóc najlepiej jak potrafimy!</li>
        <li>Każda z osób z administracji jest wyspecjalizowana w sowim fachu! Każdy jest niezastąpiony!</li>
        <li>Optymalizujemy paczkę na bierząco dzieki narzędzą deweloperskim.</li>
        <li>Posiadamy ponad 90 własnych <i class="text-danger">Craftingów</i> oraz spory system  <i class="text-danger">Questów</i></li>
        <li>Na bierząco aktualizujemy paczki, bu rozwiązać każdy bug.</li>
    </ol>


</div>
