<div class="media-container box-shadow">
    <div class="text-xx-large"><a href="" style="margin-left: 1px;"><i class="fab fa-discord"></i></a></div>
    <hr class="m-1"/>
    <div class="text-xx-large"><a href=""><i class="fab fa-facebook"></i></a></div>
</div>
