<ul>
    <li><a class="nav-link" href="{{ path('user-profile') }}">1. Podgląd profilu</a></li>
    <li><a class="nav-link" href="{{ path('edit-profile') }}">2. Edytuj profil</a></li>
    <li><a class="nav-link" href="{{ path('equipment-profile') }}">3. Ekwipunek</a></li>
</ul>
