@import "variables";

.navbar {
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  background-color: $dark-bg;
  max-height: calc(40px + 0.5rem);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}