$text-color: #1a1a1a;
$sidebar-bg: #f8f9fa;
$body-bg: #f0f2f5;
$p-color: #999999;
$active: #cff9b3;
$bleach-green-bg: #63c476;
$bleach-blue-bg: #63c4ae;
$green-bg: #07b82a;
$dark-green-bg: #057e1d;
$custom-text: #ffffff;

$shadow: 2px 2px 2px #000000;
$border: 1px solid #d5d5d5;
$hr: 1px solid #5a5a5a;
$dashed: 1px dashed #dddddd;
