<!DOCTYPE html>
<html lang="pl">
<head>
    {% include 'front/component/head.html.twig' %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('main') }}
    {% endblock %}
</head>
<body class="bg-dark text-light">
{% include 'front/component/nav.html.twig' %}
{% include 'front/component/media.html.twig' %}

<div class="pt-nav">
    {% block body %}
    {% endblock %}
</div>

<footer>
    <div class="bg-darker copyright">© Copyright 2020. All right reserved.</div>
    {% block javascripts %}
        <script defer src="https://friconix.com/cdn/friconix.js"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</footer>
</body>
</html>
