<!DOCTYPE html>
<html lang="pl">
<head>
    {% include 'new/component/head.html.twig' %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('new-main') }}
    {% endblock %}
</head>
<body>

<div class="wrapper">
    {% include 'new/component/sidebar.html.twig' %}
    <div class="container-fluid">
        <div class="row">
            {% include 'new/component/nav.html.twig' %}
        </div>
        <div class="row content">
            {% if app.request.attributes.get('_route') == 'index' %}
                {% for s in server %}
                    {% if s.src is defined and s.id == app.session.get('serverId')%}
                        <div style="background-image: url({{ asset(s.src) }})" class="site-image"></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="col-2 col-lg-none col-md-none">
                {% include 'new/component/shortcast.html.twig' %}
                {% include 'new/component/toast.html.twig' %}
                <span class="footer">© Copyright 2020. All right reserved.</span>
            </div>
            <div class="col-xl-8 col-lg-12 col-md-12">
                {% block body %}{% endblock %}
            </div>
            <div class="col-2 col-lg-none col-md-none">
                {% include 'new/component/additional.html.twig' %}
            </div>
        </div>
    </div>
</div>

<footer>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</footer>
</body>
</html>
